.footer {
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e, #a8c0ff, #fbc2eb);
  background-size: 600% 600%;
  animation: gradientAnimation 20s ease infinite;
  
  .footer-social {
    .footer-social-link {
      color: #ffffff;
      font-size: 2rem;
      transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;

      &:hover {
        color: #a8c0ff; /* Light blue color */
        transform: scale(1.2);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      }

      i {
        margin: 0 0.5rem;
      }
    }
  }

  .footer-logo img {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    
    &:hover {
      transform: scale(1.1);
      filter: brightness(1.2); /* Make the logo brighter on hover */
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
