* {
  cursor: none;
}
.app {
  background: linear-gradient(135deg, #040222 0%, #210235 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cursor {
  background-color: #fafafa;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Ensure it doesn't interfere with other elements */
  will-change: transform; /* Promote to its own layer */
}
